<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Get Marmalade Apps on Tizen with appbackr and Xchange</title>
  <meta name="description" content="Cocos2d games can ship to Tizen with appbackr.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../assets/js/fonts.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/bootstrap.css">
  <script src="../../assets/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body class="inner landing-page">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<!-- Site Header -->
	<header class="site-header-alt">
		<div class="header-inner">
		<img src="../../assets/images/appbackr-plus-tizen-logo.jpg">
		</div>
	</header>
	<section id="billboard" class="billboard-container lp">
		<div class="billboard-inner">
			<div class="billboard">
				<div class="billboard-content container">
					<div class="row-fluid">
						<div class="span12">
						<h1 class="logo-headline">Get your <img src="../../assets/images/marmalade.png" alt="Marmalade"> apps on Tizen™ with appbackr.</h1>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6"><img src="../../assets/images/score-zoom-billboard.png" /></div>
						<div class="span6">
							<ul class="feature-list">
								<li>
								<strong>REGISTER AS A MARMALADE DEVELOPER</strong>
								Get your FREE Marmalade License and download the latest Marmalade SDK.
								</li>
								<li>
								<strong>BUILD YOUR APP</strong>
								Create a new app with the Marmalade SDK or port over an existing app to Marmalade.
								</li>
								<li>
								<strong>GET YOUR APPSCORE</strong>
								appbackr will score your beta or finished app and email to you your appscore and a cash incentive.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="more">
		<div class="container">
		<div class="row-fluid">
			<div class="span6">				
				<h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</h4>
			</div>
			<div class="span6">
				<form class="form-horizontal" id="appcelerator2" name="appcelerator2" method="POST" action="">
				<fieldset>
				 
				<div class="form-group row-fluid">
				<label class="span4" for="textinput1">Paypal Email:</label>
				<div class="span8">
				<input id="textinput1" name="email" placeholder="" class="form-control  span12" required type="email"/>
				</div>
				</div>
				 
				<div class="form-group row-fluid">
				<label class="span4" for="textinput2">App ID/URL:</label>
				<div class="span8">
				<input id="textinput2" name="appid" placeholder="Android or Apple App ID or URL" required class="form-control  span12" required type="text"/>
				</div>
				</div>
				 
				<div class="form-group row-fluid">
				<label class="span4" for="textinput3">Developer DeepLink: </label>
				<div class="span8">
				<input id="textinput3" name="deeplink" placeholder="" required class="form-control span12" type="text"/>
				</div>
				</div>
				 
				<div class="form-group row-fluid">
				<label class="span4" for="textinput4">App Content ID: </label>
				<div class="span8">
				<input id="textinput4" name="contentid" placeholder="" required class="form-control span12" type="text"/>
				
				</div>
				</div>
				</fieldset>
				<div class="row-fluid">
				<div class="span4"></div>
				<div class="exbutton2 span8">
				<button type="submit" class="btn btn-success btn-md pull-right" name="appcelerator2">Enter</button>
				</div>				
				</div>
				</form>
			</div>
		</div>
		
		<hr>
		
		<div class="row-fluid features-section">
			<div class="span12 alignCenter">
				<h2>What is Marmalade?</h2>
				<h3>Marmalade lets developers create cross-platform apps.</h3>
				<p>Marmalade software now gives developers native access to the Tizen Platform™ so they can deploy existing and new games directly to Tizen. </p>
			</div>
		</div>	
		
		<hr>
		
		<div class="row-fluid features-section">
			<div class="span12" style="text-align: center"> 
				<h2>What is <img src="../../assets/images/tizen-inline.jpg">?</h2>
				<h3>Tizen will help HTML5 developers monetize their apps.</h3>
				<p>Tizen is an open-source and standard-based software and based on the Linux operating system. It's backed by hardware makers that are building devices running the Tizen Platform. These devices need apps.</p>
			</div>
										
		</div>	
		
		<div class="row-fluid">
				
			<div class="span6">
				<p class="alignCenter"><img src="../../assets/images/icon-user.png" />
				<h4 class="alignCenter">FOR THE USER</h4>
				<p class="alignCenter">Tizen is an open ecosystem and compatible with all browsers. It offers a consistent experience across all devices for the user</p>
			</div>
			
			<div class="span6">
				<p class="alignCenter"><img src="../../assets/images/icon-developer.png" /></p>	
				<h4 class="alignCenter">FOR THE DEVELOPER</h4>
				<p class="alignCenter">Tizen provides developers a new operating system to source and distribute their apps.</p>
			</div>			
			
		</div> <!-- end row -->
		
		<hr>
		
		<div class="row-fluid features-section">
			<div class="span12 alignCenter">
				<h2>What is an appscore?</h2>
				<h3 class="orange">appbackr appscore gives every app a score from 1.0 - 10.0.</h3>
				<p>The appscore uses a machine-learning model, evolving and adapting to score apps on their marketability. Apps that score high, receive cash incentive to deploy to Tizen.</p>				
			</div>
		</div>	
		
		<div class="row-fluid section-container alignCenter">
				
			<div class="span6">
				<p><img src="../../assets/images/icon-developer-appscore.png" />
				<h4>FOR THE DEVELOPER</h4>
				<p>appbackr appscore gets the right apps featured where consumers browse for apps. appscore helps developers get distribution.</p>
			</div>
			
			<div class="span6">
				<p><img src="../../assets/images/icon-user.png" /></p>	
				<h4>FOR THE STORE</h4>
				<p>App stores rely on the appscore to curate the best apps for their customers. They source and feature those apps to maximize store revenue.</p>
			</div>			
			
		</div> <!-- end row -->

	</div>
	</section>		
	<!-- Site Footer -->
	<footer class="site-footer simple">
		<div class="container">
		<div class="row-fluid">
			<div class="span12">				
				<p class="copyright">
				&copy;2013 appbackr&reg; inc. <a href="http://www.appbackr.com/documents/appbackr_Terms_of_Use_effective_as_of_05-11-2012_v2.pdf" target="_blank">Terms of Use</a> <a href="http://privacy-policy.truste.com/verified-policy/www.appbackr.com" target="_blank">Privacy Policy</a>
				</p>
			</div>
		</div>
		</div>
	</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
<script src="/assets/js/plugins.min.js"></script>
<script src="/assets/js/main.min.js"></script>

<script>
var _gaq=[['_setAccount','UA-5106720-3'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
